*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', cursive;
}
.header{
    min-height: 50vh;
    width:100%;
    background-image:url(https://www.tourmyindia.com/blog//wp-content/uploads/2018/09/Festivals-to-Witness-in-December.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    animation-name: example;
    animation-duration: 0s;
    background-image: repeat;
    object-fit: contain;
    animation-iteration-count:1;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:75px;
    height: 50px;
    
}
@keyframes example {
    25% {background-image: url('https://www.tourmyindia.com/blog//wp-content/uploads/2018/09/Festivals-to-Witness-in-December.jpg');}
    50% {background-image: url("https://image.wedmegood.com/resized/800X/uploads/member/39954/1489020937_1487251738_1486764007_1N3A1205.jpg");}
    75% {background-image: url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/960/330/90/media/dm/en-us/global/corporate-events/CorporateEventsOverview-Hero-5x2v2.jpg');}
    100% {background-image: url("https://www.transindiatravels.com/wp-content/uploads/nh7-weekender.jpg");}
  }
.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
    list-style-type: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: rgb(217, 171, 171);
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 62px;
}
.text-button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    color: rgb(49, 45, 45);
    background:#fff3f3;
    position: relative;
    cursor: pointer;
}
.text-button:hover{
        border: 1px solid rgb(141, 86, 86);
        background:rgb(199, 152, 152);
        transition: 1s;
}

nav .fa{
    display:none;
}
@media(max-width:700px)
{
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background:#f44336;
        height:100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
            padding: 30px;
    }
}

.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row{
    width:100%;
    margin-top: auto;
    display:flex;
    justify-content:space-evenly;

}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.course-col img{
    width:100%;
    display: block;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px)
{
    .row{
        flex-direction:column;
    }
}

.campus{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
}
.campus-col img{
   
    width:100%;
    height: 75%;
}
.campus-col:hover{
    background: rgb(232, 235, 212);

}
.whiteBox {
    background-color: #f2f2f2;
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    position:relative; 
    left:450px; 
    top:20px
  }
  .contact h2{
text-align: center;
  }
* {box-sizing: border-box}
  .container{
    padding-left: 450px; 
    height: 400px;
  }
input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  @media(max-width:700px) {
    input[type=text]{
      width: 50%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    .quote {
      background-color: #03a7f3;
      color: white;
      padding: 10px 20px;
      margin: 15px 250px;
      border: none;
      cursor: pointer;
      width: 20%;
      opacity: 0.9;
      align-self: center;
      left: 15%;
    }
    
  }

  .quote {
    background-color: #03a7f3;
    color: white;
    padding: 10px 10px;
    margin: 10px 170px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    align-self: center;
    left: 35%;
  }
  
  .quote:hover {
    opacity:0.5;
  }

  .reviews{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

  }

  .reviews-col{
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #e4cdcd;
    padding:25px;
    cursor:pointer;
    display: flex;
  }
  .reviews-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }

  .reviews-col p{
    padding: 0;
  }
  .reviews-col h3{
    margin-top: 15px;
    text-align: left;
  }

  .reviews-col .fa{
    color: #2e2d26;
  }

  @media (max-width:700px)  {
    .reviews-col img{
        
        margin-right: 0px;
        border-radius: 15%;
      }

      .container{
        padding-left: 85px; 
        height: 400px;
      }
      .quote {
        background-color: #4ca2ca;
        color: white;
        padding: 10px 10px;
        margin: 18px 150px;
        border: none;
        cursor: pointer;
        width: 15%;
        opacity: 0.9;
        left: 50%;
      }
  }
  .cta{

    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../assets/images/banner2.jpg);
    background-position: center;
    background-size:cover ;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
  }

  .cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
  }

  .text-button1{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background:transparent;
    position: relative;
    cursor: pointer;
}

.text-button1:hover{
    border: 1px solid rgb(141, 86, 86);
    background:rgb(199, 152, 152);
    transition: 1s;
}

@media(max-width:700px)
{
    .cta h1{
        font-size: 24px;
    }
}

.footer
{
    width:100%;
    text-align: center;
    padding: 30px,0;

}

.footer h4{

    margin-bottom: 25px;
    margin-top:20px;
    font-weight: 600;
}

.icons .fa{
color: #f44336;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;

}

